.postContent {
  a {
    @apply underline;
    @apply text-blue-400;
  }
  ol {
    @apply list-decimal;
    @apply py-4;
  }
  li {
    @apply mb-2;
  }

  h2 {
    @apply mt-6;
    @apply mb-2;
    @apply font-bold;
  }

  h3 {
    @apply mt-4;
    @apply mb-1;
  }

  p {
    @apply mb-2;
  }

  blockquote {
    @apply italic;
    @apply pl-6;
    @apply border-l-8;
    @apply border-blue-500;
    @apply my-8;
  }

  code {
    font-size: 0.8em;
  }
  
  pre {
    @apply my-6;
  }

  video {
    height: 300px;
    margin: auto;
  }

  figure {
    @apply my-6;
  }

  figcaption {
    @apply mt-2;
    @apply text-center;
    font-size: 0.7em;
  }
}

.basic {
  @apply bg-gray-200;
  @apply p-1;
}
